body {
  background-color: #ed7c7c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
body .pagecard {
  background-color: #DDD4C6;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}
body .pagecard h1 {
  font-weight: bold;
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
}
body .explainer {
  background-color: #DDD4C6;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 16px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}
body .explainer p {
  margin: 0px;
}
body .middle {
  width: 100%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
body .middle .images img {
  width: 150px;
  height: 150px;
}
body .middle .images3 img {
  width: 150px;
  height: 150px;
}
body .middle .images2 img {
  width: 150px;
  height: 150px;
}
body .navspec {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 98%;
}
body .navspec .home a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #fac670;
  letter-spacing: 0.1em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
body .navspec .edu a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #91C3CE;
  letter-spacing: 0.1em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
body .navspec .blog a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #C0A8E6;
  letter-spacing: 0.1em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
body .navspec .resume a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #000;
  letter-spacing: 0.1em;
}
body header {
  background-color: #F3ECD3;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  margin: 8px 8px 16px 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
body header .quickcontacts {
  margin: 0px 10px 0px 0px;
}
body header .headlogo {
  display: flex;
}
body header .headlogo .myname {
  font-family: "Quicksand", sans-serif;
}
body header .headlogo img {
  height: 30px;
  width: 30px;
}
@media screen and (min-width: 600px) {
  body .middle {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 70%;
    font-size: 20px;
  }
  body .explainer {
    max-width: 70%;
  }
  body .pagecard {
    max-width: 50%;
  }
  body .pagecard h1 {
    font-size: 38px;
  }
}
@media screen and (min-width: 600px) {
  body footer .socials {
    width: 55%;
    margin: auto;
  }
}
body footer {
  background-color: #F3ECD3;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 8px;
}
body footer .socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body footer .socials a i {
  color: #91C3CE;
  font-size: 24px;
  transition: color 1s;
}
body footer .socials a i:hover {
  color: #C0A8E6;
}/*# sourceMappingURL=background.css.map */