@import "../defaults/color";
@import "../components/header";
@import "../components/footer";
@import "../components/nav";
@import "../components/pagecards";
@import "../components/blogshame";


body {
    background-color: $blog-color;
     
    footer {
        .socials {
        a {
                i {
                    color: $resume-color;
                }
                i:hover {
                    color: $home-color;
                }
            }
        }
    }
}