@import "../defaults/color";
@import "../components/header";
@import "../components/footer";
@import "../components/nav";
@import "../components/pagecards";

body {
    background-color: $backgroundpage-color;

    .middle {
        width: 100%;
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: space-between;
      
    .images {
        img {
            width: 116px;
            height: 116px;  
        }     
    }

    .images3 {
        img {
            width: 116px;
            height: 116px;  
        }     
    }

    .images2 {
        img {
            width: 116px;
            height: 116px;  
        }     
    }
}

@media screen and (min-width: 600px) {
    
    .middle {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 70%;
        font-size: 20px;

        .images {
            img {
                height: 130px;
                width: 130px;
            }
        }

        .images2 {
            img {
                height: 130px;
                width: 130px;
            }
        }

        .images3 {
            img {
                height: 130px;
                width: 130px;
            }
        }
    }
}

    footer {
        .socials {
        
            a {
                i {
                    color: $education-color;
                    }
                i:hover {
                    color: $blog-color;
                }
            }
        }
    }
}