/* Header, all as in index css */
header {
  background-color: #F3ECD3;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  margin: 8px 8px 16px 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
header .quickcontacts {
  margin: 0px 10px 0px 0px;
}
header .headlogo {
  display: flex;
}
header .headlogo .myname {
  font-family: "Quicksand", sans-serif;
}
header .headlogo img {
  height: 30px;
  width: 30px;
}
/* Footer, all as in index css */
footer {
  background-color: #F3ECD3;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 8px;
}
footer .socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .socials a i {
  color: #ed7c7c;
  font-size: 24px;
  transition: color 1s;
}
footer .socials a i:hover {
  color: #91C3CE;
}

@media screen and (min-width: 600px) {
  footer .socials {
    width: 55%;
    margin: auto;
  }
}
/* Navigation properties, all as in index css */
.navspec {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 98%;
}
.navspec .home a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #fac670;
  letter-spacing: 0.1em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.navspec .backg a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #ed7c7c;
  letter-spacing: 0.1em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.navspec .edu a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #91C3CE;
  letter-spacing: 0.1em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.navspec .blog a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #C0A8E6;
  letter-spacing: 0.1em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.navspec .resume a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #000;
  letter-spacing: 0.1em;
}
/* Main body properties */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
body .pagecard {
  background-color: #DDD4C6;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}
body .pagecard h1 {
  font-weight: bold;
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
}
/* Text box properties */
body .explainer {
  background-color: #DDD4C6;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 16px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 10px;
  overflow: hidden;
}
body .explainer p {
  margin: 0px;
}
/* Middle section properties */
body .middle {
  width: 98%;
  display: flex;
  justify-content: space-between;
}
body .middle h2 {
  font-family: "Quicksand", sans-serif;
  margin-right: 20px;
  font-weight: 500;
}
/* Breakpoint changes */
@media screen and (min-width: 600px) {
  .middle {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 70%;
    font-size: 20px;
  }
  .explainer {
    max-width: 70%;
  }
  .pagecard {
    max-width: 50%;
  }
  .pagecard h1 {
    font-size: 38px;
  }
}
/* Page colour */
body {
  background-color: #ed7c7c;
}
/* Middle section graphic properties */
body .middle {
  width: 100%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
body .middle .images img {
  width: 116px;
  height: 116px;
}
body .middle .images3 img {
  width: 116px;
  height: 116px;
}
body .middle .images2 img {
  width: 116px;
  height: 116px;
}
/* Graphic breakpoint changes */
@media screen and (min-width: 600px) {
  body .middle {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 70%;
    font-size: 20px;
  }
  body .middle .images img {
    height: 130px;
    width: 130px;
  }
  body .middle .images2 img {
    height: 130px;
    width: 130px;
  }
  body .middle .images3 img {
    height: 130px;
    width: 130px;
  }
}
/* Footer colour transition */
body footer .socials a i {
  color: #91C3CE;
}
body footer .socials a i:hover {
  color: #C0A8E6;
}/*# sourceMappingURL=background.css.map */