/* Header, all as in index css */
header {
  background-color: #F3ECD3;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  margin: 8px 8px 16px 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
header .quickcontacts {
  margin: 0px 10px 0px 0px;
}
header .headlogo {
  display: flex;
}
header .headlogo .myname {
  font-family: "Quicksand", sans-serif;
}
header .headlogo img {
  height: 30px;
  width: 30px;
}
/* Footer, all as in index css */
footer {
  background-color: #F3ECD3;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 8px;
}
footer .socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Footer colour transition */
footer .socials a i {
  color: #ed7c7c;
  font-size: 24px;
  transition: color 1s;
}
footer .socials a i:hover {
  color: #91C3CE;
}

@media screen and (min-width: 600px) {
  footer .socials {
    width: 55%;
    margin: auto;
  }
}
/* Navigation, all as in index css */
.navspec {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 98%;
}
.navspec .home a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #fac670;
  letter-spacing: 0.1em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.navspec .backg a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #ed7c7c;
  letter-spacing: 0.1em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.navspec .edu a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #91C3CE;
  letter-spacing: 0.1em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.navspec .blog a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #C0A8E6;
  letter-spacing: 0.1em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.navspec .resume a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #000;
  letter-spacing: 0.1em;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
body .pagecard {
  background-color: #DDD4C6;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}
body .pagecard h1 {
  font-weight: bold;
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
}
body .explainer {
  background-color: #DDD4C6;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 16px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 10px;
  overflow: hidden;
}
body .explainer p {
  margin: 0px;
}
body .middle {
  width: 98%;
  display: flex;
  justify-content: space-between;
}
body .middle h2 {
  font-family: "Quicksand", sans-serif;
  margin-right: 20px;
  font-weight: 500;
}

@media screen and (min-width: 600px) {
  .middle {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 70%;
    font-size: 20px;
  }
  .explainer {
    max-width: 70%;
  }
  .pagecard {
    max-width: 50%;
  }
  .pagecard h1 {
    font-size: 38px;
  }
}
/* Main section containing 5 blogposts, all the same properties */
body main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* Blogpost1 */
body main .blogposts {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
}
body main .blogposts .titletext {
  display: flex;
  flex-direction: column;
}
body main .blogposts .blogimg {
  display: flex;
  align-self: flex-end;
}
body main .blogposts h2 {
  font-family: "Quicksand", sans-serif;
  margin-right: 20px;
  font-weight: 700;
  color: white;
  font-size: 16px;
  width: 25%;
  margin: 0px 10px 10px 0px;
}
body main .blogposts img {
  height: 120px;
  width: 120px;
  border: white 2px solid;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
body main .blogposts h3 {
  color: white;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  margin: 0px 10px 10px 0px;
}
body main .blogposts p {
  background-color: #F3ECD3;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  margin: 0px 10px 10px 0px;
}
/* Blogpost 2 */
body main .blogposts2 {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
}
body main .blogposts2 .titletext2 {
  display: flex;
  flex-direction: column;
}
body main .blogposts2 .blogimg2 {
  display: flex;
  align-self: flex-end;
}
body main .blogposts2 h2 {
  font-family: "Quicksand", sans-serif;
  margin-right: 20px;
  font-weight: 700;
  color: white;
  font-size: 16px;
  width: 25%;
  margin: 0px 10px 10px 0px;
}
body main .blogposts2 img {
  height: 120px;
  width: 120px;
  border: white 2px solid;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
body main .blogposts2 h3 {
  color: white;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  margin: 0px 10px 10px 0px;
}
body main .blogposts2 p {
  background-color: #F3ECD3;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  margin: 0px 10px 10px 0px;
}
/* Blogpost 3 */
body main .blogposts3 {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
}
body main .blogposts3 .titletext3 {
  display: flex;
  flex-direction: column;
}
body main .blogposts3 .blogimg3 {
  display: flex;
  align-self: flex-end;
}
body main .blogposts3 h2 {
  font-family: "Quicksand", sans-serif;
  margin-right: 20px;
  font-weight: 700;
  color: white;
  font-size: 16px;
  width: 25%;
  margin: 0px 10px 10px 0px;
}
body main .blogposts3 img {
  height: 120px;
  width: 120px;
  border: white 2px solid;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
body main .blogposts3 h3 {
  color: white;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  margin: 0px 10px 10px 0px;
}
body main .blogposts3 p {
  background-color: #F3ECD3;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  margin: 0px 10px 10px 0px;
}
/* Blogpost 4 */
body main .blogposts4 {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
}
body main .blogposts4 .titletext4 {
  display: flex;
  flex-direction: column;
}
body main .blogposts4 .blogimg4 {
  display: flex;
  align-self: flex-end;
}
body main .blogposts4 h2 {
  font-family: "Quicksand", sans-serif;
  margin-right: 20px;
  font-weight: 700;
  color: white;
  font-size: 16px;
  width: 25%;
  margin: 0px 10px 10px 0px;
}
body main .blogposts4 img {
  height: 120px;
  width: 120px;
  border: white 2px solid;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
body main .blogposts4 h3 {
  color: white;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  margin: 0px 10px 10px 0px;
}
body main .blogposts4 p {
  background-color: #F3ECD3;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  margin: 0px 10px 10px 0px;
}
/* Blogpost 5 */
body main .blogposts5 {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
}
body main .blogposts5 .titletext5 {
  display: flex;
  flex-direction: column;
}
body main .blogposts5 .blogimg5 {
  display: flex;
  align-self: flex-end;
}
body main .blogposts5 h2 {
  font-family: "Quicksand", sans-serif;
  margin-right: 20px;
  font-weight: 700;
  color: white;
  font-size: 16px;
  width: 25%;
  margin: 0px 10px 10px 0px;
}
body main .blogposts5 img {
  height: 120px;
  width: 120px;
  border: white 2px solid;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
body main .blogposts5 h3 {
  color: white;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  margin: 0px 10px 10px 0px;
}
body main .blogposts5 p {
  background-color: #F3ECD3;
  width: 98%;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  margin: 0px 10px 10px 0px;
}
/* Main ppage colour */
body {
  background-color: #C0A8E6;
}
/* Footer colour transition */
body footer .socials a i {
  color: #000;
}
body footer .socials a i:hover {
  color: #fac670;
}/*# sourceMappingURL=blog.css.map */