@import "./defaults/color";
@import "./components/header";
@import "./components/footer";
@import "./components/nav";
@import "./components/pagecards";


body {
    background-color: $home-color;
    
    .images {
        border: #000 2px solid;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 10px;
        img {
            width: 122px;
            height: 145px; 
            vertical-align: bottom;
        }
    }
}